body{
    display: flex;
    flex-direction: column;
    gap:5px;
}
main{
    display: flex;
    flex-direction: row;
    flex: auto;
}
article{
    flex: 2;
    background-color: rgb(243, 242, 242);
    border-radius: 10px;
}
aside{
    flex:1;
}
aside, article{
    overflow-y: auto;
}

th,td{
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th{
    background-color: green;
    color: white;
}